body{
    background-image:url("https://marbleunlimitedinc.com/img/blog/background.jpg");
}

.navbar-light .navbar-brand {
    background-color: white; 
    font-family: 'BioRhyme', serif;
    color: black
    
}

.navbar-light .navbar-nav .nav-link, p{
    font-family: 'Space Mono', monospace; 
    color: black;
}

section{
    margin: 40px;
    
  }

  .my-col{
    background-color: #f9dde1;
    
  }

h1{
    font-family: 'BioRhyme', serif;
}

img{
    width: 350px;
    height: 350px;
}



 


/* font-family: 'BioRhyme', serif;
font-family: 'Space Mono', monospace; */


