

.navbar-light .navbar-text {
    background-color: white; 
    font-family: 'BioRhyme', serif;
    color: black
    
}

.navbar-light .navbar-nav .nav-link {
    font-family: 'Space Mono', monospace; 
    color: black;
}

.my-container {
    background-color: #f9dde1;
    margin: 5%;
}

h1{
    font-family: 'BioRhyme', serif;
}


 


/* font-family: 'BioRhyme', serif;
font-family: 'Space Mono', monospace; */


