.navbar-light .navbar-brand,
.navbar-light .navbar-text {
    background-color: white; 
    font-family: 'BioRhyme', serif;
    color: black
    
}

.navbar-light .navbar-nav .nav-link {
    font-family: 'Space Mono', monospace; 
    color: black;
}


 


/* font-family: 'BioRhyme', serif;
font-family: 'Space Mono', monospace; */


